@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(180deg, rgba(106, 126, 143, 0.616) 0%, #20598b 100%), url("../../../assets/back.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: auto;
}

.div-all{
padding-top: 85px;
}

/*Botón entrar*/

.entrar{
  display: block;
  border-radius: 4px;
  background-color: #0F2C45;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
  width: 30%;
  transition: all 0.5s;
  cursor: pointer;
  margin: auto;
}

.entrar span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}


.entrar:hover span{

  padding-top: 3px;
  padding-bottom: 3px;


}

.entrar:hover span:after{
  opacity: 1;
  right: 0;
}

.formRooms{
  padding: 5% 20% 20% 20%;
  text-align: center;
  background-color: #20598B;
  background-size: cover;
}

.row{
  padding: 5%;
  background-image: linear-gradient(180deg, rgba(2, 40, 77, 0.753) 0%, rgba(40,57,101,.9) 100%), url("../../../assets/back.jpg");
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}