<body>
  <div class="formRooms">
    <div class="container-fluid">
      <div class="row">
        <h1 class="titulo">SELECCIONA EL MÉTODO DE PAGO</h1><br>
        <div class="col-lg">
          <ngx-paypal *ngIf="!paid" [config]="payPalConfig"> </ngx-paypal>
          <!--<button  *ngIf="paid" onclick="history.back()">Volver atras</button>-->
          <!--<input *ngIf="paid" type=button value="VOLVER" onclick="window.location='/tutor/classList'">-->
        </div>
      </div>
    </div>
  </div>
</body>