*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Titillium Web', sans-serif;
}

.navbar{
    border: 3px solid #20598B;
    padding-bottom: 1%;
    padding-top: 1%;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar a{
    color: #F2F2F2;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

.navbar a:hover{
    color: #000000 !important;
}

.navbar-brand{
    margin-right: 10%;
    padding-left: 1%;
}

.navbar-brand:hover{
    color: #000000 !important;
}

div#navbarNav {
	margin-right: auto;
	text-align: center !important;
}

.dropdown-menu{
    background-color: #20598B;
    border-radius: 15px;
    width: 250px;
    padding: 5%;
}

.dropdown-menu .nav-link{
    margin: 2%;
    color: #F2F2F2;
    transition: all .1s ease;
}

#footer .footer_image {
    height: 24px;
    width:24px;
    text-align: center;
    padding: 4px;
}

footer{
    background: #EBA144;
    color: #fff;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a{
    color: black;
    text-decoration: none;
}

footer a:hover{
    color: darkred;
    transition: all .4s ease;
    font-style: italic;
    font-weight: 500;
}

.contenedor-textos p{
        text-align: center;
        font-size: 20px;
}

.red{
    color:  darkred !important;
}

@media (max-width: 600px) {
    .dropdown-menu{
        width: initial;
        padding: 2%;
    }
}