<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EBA144 ;" >
        <a class="navbar-brand" href="#">
            <img src="../../../assets/logoSinFondo.png" style="width: 50px;">
            Studybuddies
        </a>
        <button style="margin-right: 2%;" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav" *ngIf="isLoggedIn">
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Salas de estudio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" routerLink="/student/mine/{{userId}}" routerLinkActive="active">Mis Salas</a>
                        <a class="nav-link" routerLink="/student/createClass" routerLinkActive="active">Crear Sala de estudio</a>
                        <a class="nav-link" routerLink="/student/classList" routerLinkActive="active">Salas de estudio activas</a>
                    </div>
                </li>
                <li class="nav-item dropdown"  data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tutorías
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" routerLink="/student/Tmine/{{userId}}" routerLinkActive="active">Mis Tutorías pagadas</a>
                        <a class="nav-link" *ngIf="showTutorBoard || showAdminBoard" routerLink="/tutor/mine/{{userId}}" routerLinkActive="active">Tutorías propias</a>
                        <a class="nav-link" *ngIf="showTutorBoard || showAdminBoard" routerLink="/tutor/createClass" routerLinkActive="active">Crear Tutoría</a>
                        <a class="nav-link" routerLink="/tutor/classList" routerLinkActive="active">Tutorías activas</a>
                    </div>
                </li>
                <li class="nav-item dropdown" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tutores
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="nav-link" routerLink="/tutores" routerLinkActive="active">Tutores</a>
                    <a class="nav-link" routerLink="/misTutores" routerLinkActive="active">Mis tutores</a>
                  </div>
              </li>
                <li class="nav-item" *ngIf="showStudentBoard" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" routerLink="/student/transformToTutor" routerLinkActive="active">¡Conviertete en tutor!</a>
                </li>
            </ul>
            <ul style="padding-right: 1%;" class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="!isLoggedIn">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Accede</a>
                </li>
            </ul>
            <ul style="padding-right: 1%;" class="navbar-nav ms-auto mb-2 mb-lg-0" *ngIf="isLoggedIn">
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a href="/perfil" class="nav-link" routerLink="perfil"><span class="desapareceM">Accede a tu perfil, </span>{{ username }}</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                    <a class="nav-link red" routerLink="/student/generalReport" routerLinkActive="active">¡Reporta<span class="desapareceM"> un problema</span>!</a>
                </li>
                <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
                  <a href class="nav-link" (click)="logout()">Desconectate</a>
                </li>
              </ul>
        </div>
</nav>

<router-outlet></router-outlet>
<br>
<footer id="contacto">
	<div class="contenedor-textos">
		<p class="parrafo">
            <span style="float: left;"><span class="desapareceS">Contacto: </span> <a href="mailto:soporte@studybuddies.es" >soporte@studybuddies.es</a></span>
            <span class="copy">Copyright 2021 &copy; Studybuddies</span>
            <span style="float: right;"><a target="_blank" href="/useConditions">Términos <span class="desapareceS">y condiciones</span> de uso</a></span>
		</p>
	</div>
</footer>
