<div class="container-fluid">
    <div class="formUser">
      <div class="row">
        <h1 class="titulo">DETALLES DEL TUTOR/ALUMNO </h1><br> <!--habria que poner un if segun el rol (?)-->
        <div class="col-lg">
          <label for="lname">Nombre</label><br>
          <input type="text" id="university" name="university" readonly=true><br><br>
          <label for="lname">Apellidos</label><br>
          <input type="text" id="grade" name="grade"  readonly=true><br><br>
          <label for="lname">Nombre de usuario</label><br>
          <input type="text" id="subjects" name="subjects"  readonly=true><br><br>
          <label for="lname">Contraseña</label><br>
          <input type="password" id="date" name="date" readonly=true><br><br>
        </div>
        <div class="col-lg">
          <label for="lname">Universidad</label><br>
          <input type="text" id="iTime" name="iTime"  readonly=true><br><br>
          <label for="lname">Grado</label><br>
          <input type="text" id="fTime" name="fTime"  readonly=true><br><br>
          <label for="fname">Sobre mi</label><br>
          <textarea style="height: 20%;" id="description" name="description" readonly="true"></textarea><br><br>
        </div>
        <div style="margin-top: 3.5%;"><a  target="_blank">EDITAR PERFIL</a></div>
        <div><input type=button value="VOLVER" onclick="history.back()"></div>
      </div>
      <div class="row2">
        <h1 class="titulo"> ASIGNATURA IMPARTIDAS </h1><br> <!--habria que poner un if segun el rol (?)-->
        <ul>
            <li>
                Matemáticas Discretas
            </li>
            <li>
                Fundamentos de la Programación
            </li>
            <li>
                Evolución y Gestión de la Configuración
            </li>
        </ul>
      </div>
    </div>
</div>