<div class="container-fluid">
    <div class="formUser">
      <div class="row">
        <h1 class="titulo">DETALLES DEL {{rol}} </h1><br> <!--habria que poner un if segun el rol (?)-->
        <div class="col-lg">
          <label for="lname">Nombre</label><br>
          <input type="text" id="nombre" name="nombre" value="{{actualUser['nombre']}}" readonly=true><br><br>
          <label for="lname">Apellidos</label><br>
          <input type="text" id="apellidos" name="apellidos" value="{{actualUser['apellidos']}}" readonly=true><br><br>
          <label for="lname">Nombre de usuario</label><br>
          <input type="text" id="username" name="username" value="{{actualUser['username']}}" readonly=true><br><br>
          <label for="lname">Correo de contacto</label><br>
          <input type="text" id="email" name="email" value="{{actualUser['email']}}" readonly=true><br><br>
        </div>
        <div class="col-lg">
          <label for="lname">Universidad</label><br>
          <input type="text" id="universidad" name="universidad" value="{{actualUser['universidad']}}" readonly=true><br><br>
          <label for="lname">Grado</label><br>
          <input type="text" id="grado" name="grado" value="{{actualUser['grado']}}" readonly=true><br><br>
          <label for="fname">Sobre mi</label><br>
          <textarea style="height: 20%;" id="descripcion" name="descripcion" value="{{actualUser['descripcion']}}" readonly="true"></textarea><br><br>
        </div>
        <div style="margin-top: 3.5%;"><a  target="_blank">EDITAR PERFIL</a></div>
        <div><input type=button value="VOLVER" onclick="history.back()"></div>
      </div>
      <div class="row2" *ngIf="rol=='TUTOR'">
        <h1 class="titulo"> ASIGNATURA IMPARTIDAS </h1><br>
            <li *ngFor="let asignatura of actualAsignaturas">
                {{asignatura}}
            </li>
      </div>
    </div>
</div>