<body>
  <div class="div-all">
    <div class="info">
      <p class="info-text">
        Aquí puedes encontrar el listado completo de los tutores de Studybuddies.
        Contacta con ellos si tienes dudas o si quieres concertar tutorías.
      </p>
    </div>

    <section>
      <form class= "my-2 my-lg-0 w-75 buscar">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Buscar tutores..." [(ngModel)]="search">
      </form>
    </section>

    <section>
      <table class="containertable">
        <thead>
          <tr>
            <th>
              <h1 class="table">NOMBRE</h1>
            </th>
            <th>
              <h1 class="table">UNIVERSIDAD</h1>
            </th>
            <th>
              <h1 class="table">EMAIL</h1>
            </th>
            <th>
              <h1 class="table">DESCRIPCIÓN</h1>
            </th>
            <th>
              <h1 class="table">DETALLES</h1>
            </th>
          </tr>
        </thead>
        <div class=empty *ngIf="tutores.length === 0"> No hay tutores actualmente. </div>
        <tbody>
          <tr *ngFor="let tutor of (tutores | tutorFilter:search)">
            <td>{{ tutor["nombre"] }}</td>
            <td>{{ tutor["universidad"] }}</td>
            <td>{{ tutor["email"] }}</td>
            <td>{{ tutor["descripcion"] }}</td>
            <td>
              <a href="/tutor/show/{{tutor['id']}}">Ver detalles</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="info" *ngIf="tutores.length === 0"><p class="info-text">No hay tutores, conviertete en tutor <a routerLink="/student/transformToTutor" routerLinkActive="active">aquí</a></p></div>
    </section>

    <section>
      <div class="alert alert-info" role="alert" *ngIf="(tutores | tutorFilter:search).length <1 && search != null && search != ''">
        No existen resultados para esta búsqueda
      </div>
    </section> 

  </div>
</body>
