<div class="hero">
  <div class="textos-hero">
    <img src="../../../assets/error.png">
    <h1>¡Ups! Ha ocurrido un error inesperado.</h1>
    <br>
    <h2>¿Será una señal del destino para dejar de estudiar? ¡No lo creemos!</h2>
    <br>
    <p>Prueba a <a style="color:#eba144" href="/errorPage">recargar</a> la página o vuelve a la página de <a href=""
        style="color:#eba144">incio</a>.</p>
    <p>Si el error persiste contacte con soporte: <span style="color:#eba144">soporte.studybuddies@gmail.com</span>.</p>
  </div>
</div>