<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #EBA144 ;">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/logoSinFondo.png" style="width: 50px;">
        Studybuddies
      </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse"  id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/employees" routerLinkActive="active">Pagina 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/posts" routerLinkActive="active">Pagina 2</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/signin" routerLinkActive="active">Inicia sesión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signup" routerLinkActive="active">Regístrate</a>
        </li>
      </ul>
    </div>
    </div>
  </nav>

  <div class="hero">
    <div class="textos-hero">
      <img src="../../../assets/error.png">
      <h1>¡Ups! Ha ocurrido un error inesperado.</h1>
      <br>
      <h2>¿Será una señal del destino para dejar de estudiar?</h2> 
      <h2>¡No lo creemos!</h2>
      <br>
      <p>Prueba a <a style="color:#eba144" href="/errorPage">recargar</a> la página o vuelve a la página de <a href="" style="color:#eba144">incio</a>.</p>
      <p>Si el error persiste contacte con soporte: <span style="color:#eba144">soporte.studybuddies@gmail.com</span>.</p>
    </div>
  </div>