<body>
  <div class="div-all">
    <button class="list-button" style="vertical-align:middle" onclick="document.location='/tutor/classList'"><span>Crea
        una sala de estudio </span></button>

    <section>
      <table class="containertable">
        <thead>
          <tr>
            <th>
              <h1 class="table">Universidad</h1>
            </th>
            <th>
              <h1 class="table">Grado</h1>
            </th>
            <th>
              <h1 class="table">Asignatura</h1>
            </th>
            <th>
              <h1 class="table">Descripción</h1>
            </th>
            <th>
              <h1 class="table">Fecha</h1>
            </th>
            <th>
              <h1 class="table">Hora inicio</h1>
            </th>
            <th>
              <h1 class="table">Hora fin</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
          <tr onclick="document.location='/tutor/classView'">
            <td>Universidad de Sevilla</td>
            <td>Ingeniería del Software</td>
            <td>EGC</td>
            <td>Sala para repasar las jornadas</td>
            <td>30/06/2021</td>
            <td>17:00</td>
            <td>19:00</td>
          </tr>
        </tbody>
      </table>  
    </section>
  </div>
</body>