<body>
  <div class="div-all">
    <div class="info">
      <p class="info-text">
        Aquí puedes encontrar las tutorías de Studybuddies. Una tutoría es una sala online
        donde una persona que ya tiene aprobada esa asignatura ofrece una clase
        particular a cambio de un precio entre 5 y 15€ por hora.
        Ahora que ya sabes qué es una tutoría no dudes en entrar en una o crearlas si eres tutor.
      </p>
    </div>

    <section>
      <form class= "my-2 my-lg-0 w-75 text-align:center">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Buscar tutoría..." [(ngModel)]="search">
      </form>
    </section>

    <section>
      <table class="containertable">
        <thead>
          <tr>
            <th class="esconder">
              <h1 class="table">UNIVERSIDAD</h1>
            </th>
            <th>
              <h1 class="table">GRADO</h1>
            </th>
            <th>
              <h1 class="table">ASIGNATURA</h1>
            </th>
            <th class="esconder">
              <h1 class="table">DESCRIPCIÓN</h1>
            </th>
            <th>
              <h1 class="table">FECHA</h1>
            </th>
            <th class="esconder">
              <h1 class="table">HORA INICIO</h1>
            </th>
            <th class="esconder">
              <h1 class="table">HORA FIN</h1>
            </th>
            <th class="esconder">
              <h1 class="table">PRECIO POR HORA</h1>
            </th>
            <th>
              <h1 class="table">DETALLES</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of (tutorias | classFilter:search)">
            <td class="esconder">{{ room["university"] }}</td>
            <td>{{ room["degree"] }}</td>
            <td>{{ room["subject"] }}</td>
            <td class="esconder">{{ room["description"] }}</td>
            <td>{{ room["date"] }}</td>
            <td class="esconder">{{ room["iTime"] }}</td>
            <td class="esconder">{{ room["fTime"] }}</td>
            <td class="esconder">{{ room["price_per_hour"] }} €</td>
            <td>
              <a href="/tutor/classView/{{ room['guid'] }}">Ver detalles</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="info" *ngIf="tutorias.length === 0"><p class="info-text">No hay ninguna tutoría creada todavía. Puedes crear una tutoría si eres tutor <a class="nav-link" routerLink="/tutor/createClass" routerLinkActive="active">aquí</a></p></div>
    </section>

    <section>
      <div class="row animated fadeIn fast w-75" *ngIf="(tutorias | classFilter:search).length <1">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">
            No existen resultados para esta búsqueda
          </div>
        </div>
      </div>
    </section>  

  </div>
</body>
