<div class="container-fluid">
    <form class="formRooms"><div class="row"><h1 class="titulo">CREA UNA SALA</h1>
      <div class="col-lg">
        <label for="lname">Universidad</label><br>
        <input type="text" id="university" name="university"><br><br>
        <label for="lname">Grado</label><br>
        <input type="text" id="grade" name="grade"><br><br>
        <label for="lname">Asignatura</label><br>
        <input type="text" id="subjects" name="subjects"><br><br>
        <label for="lname">Fecha</label><br>
        <input type="date" id="date" name="date"><br><br>
      </div>
      <div class="col-lg">
        <label for="lname">Hora inicio</label><br>
        <input type="time" id="iTime" name="iTime"><br><br>
        <label for="lname">Hora fin</label><br>
        <input type="time" id="fTime" name="fTime"><br><br>
        <label for="lname">Precio por hora</label><br>
        <input style="width: 80px" type="number" min="1" step="any" id="money" name="money" /><br><br>
        <label for="fname">Descripción</label><br>
      <textarea id="description" name="description"></textarea><br><br>
      </div>
      <div><input type="submit" value="CREAR"></div>
    </div>
  </form>
</div>

