<div class="container-fluid">
  <form class="formRooms">
    <div class="row">
      <h1 class="titulo">DETALLES DE LA SALA</h1> 
      <div class="col-lg">
        <label for="lname">Universidad</label><br>
        <input type="text" id="university" name="university" value="{{actualRoom['university']}}" readonly=true><br><br>
        <label for="lname">Grado</label><br>
        <input type="text" id="grade" name="grade" value="{{actualRoom['degree']}}" readonly=true><br><br>
        <label for="lname">Asignatura</label><br>
        <input type="text" id="subjects" name="subjects" value="{{actualRoom['subject']}}" readonly=true><br><br>
        <label for="lname">Fecha</label><br>
        <input type="text" id="date" name="date" value="{{actualRoom['date']}}" readonly=true><br><br>
      </div>
      <div class="col-lg">
        <label for="lname">Hora inicio</label><br>
        <input type="text" id="iTime" name="iTime" value="{{actualRoom['iTime']}}" readonly=true><br><br>
        <label for="lname">Hora fin</label><br>
        <input type="text" id="fTime" name="fTime" value="{{actualRoom['fTime']}}" readonly=true><br><br>
        <label for="lname">Precio por hora</label><br>
        <input style="width: 80px" type="number" min="1" step="any" id="money" name="money" value="{{actualRoom['price_per_hour']}}" readonly=true><br><br>
        <label for="fname">Descripción</label><br>
        <textarea id="description" name="description" readonly="true" value="{{actualRoom['description']}}"></textarea><br><br>
      </div>
      <div><input type=button value="VOLVER" onclick="history.back()"></div>
      <div>
        <a href="paypal/{{actualRoom['price_per_hour']}}">ACCEDER AL PAGO</a>
      </div>
    </div>
  </form>
</div>

