<div class="container-fluid">
  <form class="formRooms"><h1 class="titulo">Detalles de la sala</h1><br><div class="row">
    <div class="col-sm">
      <label for="fname">Descripción</label><br>
      <input type="text" id="description" name="description" readonly=true><br><br>
      <label for="lname">Universidad</label><br>
      <input type="text" id="university" name="university" readonly=true><br><br>
      <label for="lname">Grado</label><br>
      <input type="text" id="grade" name="grade" readonly=true><br><br>
      <label for="lname">Asignatura</label><br>
      <input type="text" id="subjects" name="subjects" readonly=true><br><br>
    </div>
    <div class="col-sm">
      <label for="lname">Fecha</label><br>
      <input type="date" id="date" name="date" readonly=true><br><br>
      <label for="lname">Hora inicio</label><br>
      <input type="time" id="iTime" name="iTime" readonly=true><br><br>
      <label for="lname">Hora fin</label><br>
      <input type="time" id="fTime" name="fTime" readonly=true><br><br>
    </div>
    <div><input type=button value="VOLVER" onclick="history.back()"></div>
  <div><input type="submit" value="UNIRSE"></div>
  </div></form>
</div>
