<body>
  <div class="div-all">
    <div class="info">
      <p class="info-text">
        Estas son las tutorías que has creado tú. Para que tengas un fácil acceso a ellas. Recuerda que por cada tutoría pagada obtienes un studypoint, revisa cuántos tienes en tu perfil
      </p>
    </div>
    <section>
      <form class= "my-2 my-lg-0 w-75 buscar">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Buscar tutoría..." [(ngModel)]="search">
      </form>
    </section>

    <section>
      <table class="containertable">
        <thead>
          <tr>
            <th class="esconder">
              <h1 class="table">Universidad</h1>
            </th>
            <th>
              <h1 class="table">Grado</h1>
            </th>
            <th>
              <h1 class="table">Asignatura</h1>
            </th>
            <th class="esconder">
              <h1 class="table">Descripción</h1>
            </th>
            <th>
              <h1 class="table">Fecha</h1>
            </th>
            <th class="esconder">
              <h1 class="table">Hora inicio</h1>
            </th>
            <th class="esconder">
              <h1 class="table">Hora fin</h1>
            </th>
            <th>
              <h1 class="table">Detalles</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of (rooms | classFilter:search)">
            <td class="esconder">{{ room["university"] }}</td>
            <td>{{ room["degree"] }}</td>
            <td>{{ room["subject"] }}</td>
            <td class="esconder">{{ room["description"] }}</td>
            <td>{{ room["date"] }}</td>
            <td class="esconder">{{ room["iTime"] }}</td>
            <td class="esconder">{{ room["fTime"] }}</td>
            <td>
              <a href="/tutor/classView/{{ room['guid'] }}">Ver detalles</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="info" *ngIf="rooms.length === 0"><p class="info-text">No tienes tutorías propías todavía. Crea tus tutorías <a routerLink="/tutor/createClass" routerLinkActive="active">aquí</a></p></div>
    </section>

    <section>
      <div class="row animated fadeIn fast w-75" *ngIf="(rooms | classFilter:search).length <1 && search != '' && search != null">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">
            No existen resultados para esta búsqueda
          </div>
        </div>
      </div>
    </section>  

  </div>
</body>
