@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	margin:0;
	color:#EBA144 !important;
	background:#20598B !important;
	font:600 16px/18px 'Titillium Web',sans-serif;
    height: calc(101vh - 60px);
	padding-bottom: 90%;
}

*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}


.titulo{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 10%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}
.titulo2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo2{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}
.titulo3{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo3{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}
.titulo4{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo4{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}
.titulo41{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo41{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}

.titulo42{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo42{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}

.titulo43{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo43{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}
.titulo5{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    padding: 5%;
    font: bolder;
    font-style: oblique;
    color: mediumblue   ;
}
.texto-titulo5{
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
    font-style: normal;
}