<div class="gdpr-wrap">
      <div class="gdpr-html"> 
          <div class="titulo"> 
            <h1>Términos y condiciones de la aplicación Studybuddies</h1>
        </div>
        <div class="texto-titulo">
            <h5>Estos son los documentos de Términos y Condiciones de uso de la aplicación de Studybuddies. Aquí indicaremos información importante que deben tener los usuarios de la aplicación y deben de leer esta información previamente a registrarse. 
                <br>
                <br>
                País del desarrollo de la aplicación: España 
                <br>
                <br>
                Fecha de puesta en marcha de la aplicación: 7 de junio de 2021.
                <br>
                <br>
                Correo de contacto: soporte@studybuddies.es 
                <br> </h5>
        </div>
        <div class="subtitulo"> 
                    <h3>¿Quiénes somos? ¿Qué ofrecemos?</h3>
                </div>
                <div class="texto-titulo">
                    <h5>Studybuddies es una aplicación creada por estudiantes para estudiantes. Nuestra propia experiencia vivida en los estudios nos ha hecho crear esta aplicación.                       
                        <br>
                        <br>
                        La aplicación surge de la idea de una asignatura del último curso de la carrera donde nos reunimos un grupo de 11 personas y decidimos crear esta aplicación tras ver todas las complejidades y dificultades que habíamos tenido durante la carrera.                         <br>
                        <br>
                        <br>
                        Desde Studybuddies te ofrecemos la posibilidad de contactar con otras personas que estén interesadas en estudiar las mismas asignaturas que tú. 
                        <br>
                        <br>
                        Desde Studybuddies también os ofrecemos la posibilidad de crear tutorías y ganar dinero con ellas. Es decir, ganar dinero gracias a tus estudios. 
                        <br> 
                        <br>
                        Desde Studybuddies podemos regalaros tutorías gratis. Para conseguir esa tutoría gratuita habría que conseguir 15 Studypoints. Por cada tutoría a la que accedas obtendrás 1.
                        <br> 
                        <br>
                        Desde Studybuddies damos la opción de acceder a tutorías de pago con personas expertas de esa materia. No nos hacemos responsable del precio de la clase ya que cada tutor es libre de estipular el precio de la clase que va a dar.  
                </h5>
        </div>
        <div class="subtitulo"> 
            <h3>¿Qué os pedimos a los usuarios?</h3>
        </div>
        <div class="texto-titulo">
           <h5> Os pedimos respeto por el resto de los usuarios, ya que al fin y al cabo son personas. 
                <br>
                <br>
                Os pedimos un buen uso de la aplicación.
                <br>             
                <br>  
                Que disfrutéis de la aplicación tanto como nosotros hemos hecho creándola.
                <br>
                </h5>
        </div>
        <div class="subtitulo"> 
            <h3>Datos del usuario</h3>
        </div>
        <div class="texto-titulo">
           <h5>Como puede ver tiene la posibilidad de registrarse como usuario y como alumno. La opción de registrarse como tutor engloba todas las posibilidades que tiene el alumno. Para poder registrarse como tutor debe es necesario que en las asignaturas que vaya a impartir tenga usted una nota mayor de 7 puntos sobre 10. . 
                <br>
                <br>
                En caso de que no cumpla esa condición y algún alumno reporte su tutoría deberá devolver íntegramente el precio de dicha tutoría. 
                <br>             
                      </h5>
            </div>
                 <div class="subtitulo"> 
                    <h3>Recuperación de los datos y derecho al olvido</h3></div>  
                 <div class="texto-titulo">
               <h5>
            Uso de datos: Todos los datos que solicitamos desde Studybuddies serán utilizados en la aplicación. Seguiremos la Ley Orgánica de Protección de Datos (LOPD). 
            Como puede ver, le solicitamos ciertos campos en el registro, aquí debajo indicaremos el motivo de cada uno:
            <br>
            - Usuario: Es el nombre de usuario con el que accederá en la web.
            <br>
            - Contraseña: Para iniciar sesión en la aplicación.
            <br>
            - Nombre y Apellidos: Método por el que lo reconoceremos en la aplicación. En caso de contactar con usted lo haremos refiriéndonos a estos datos.
             <br>   
            - Email: Será el método de contacto dentro de la aplicación. Si alguna vez queremos contactar con usted se hará a través de esta forma. Igualmente, si es tutor, este dato será visible para aquellas personas que quieran acceder a una tutoría 
            <br>
            - Universidad: La Universidad en las que has estudiado o estudias. Si es tutor, este dato será visible para aquellas personas que quieran acceder a una tutoría 
            <br>
            - Descripción: Esto en caso de registrarte como tutor es una explicación de tí y de tus estudios. Una buena descripción ayudará a que las personas accedan a tus tutorías.
            <br>
            - Teléfono: Este campo es opcional y solo se solicita en caso de ser tutor. Este dato será visible para aquellas personas que quieran acceder a una tutoría.
            <br>
            <br>
             Transparencia de datos: Todos los datos serán tratados de manera lícita, leal y transparente. 
             <br>
             <br>
             Mínimos requisitos posibles: Solicitamos los datos mínimos para poder utilizar la aplicación. 
             <br>
             <br>
             Pago: Siempre que realices un pago de una tutoría será almacenado de forma segura. La aplicación propia guardará el dinero hasta que acabe la tutoría. Tras acabar la tutoría se pagará al tutor.
             <br>
             <br>
             Privacidad de datos: Ningún dato será vendido a aplicaciones terceras para su comercialización                
           <br>
           <br>
           En caso de olvidar el usuario o la contraseña con el que accede a la aplicación Studybuddies envíenos un correo electrónico a soporte@studybuddies.es e indíquenos que ha olvidado sus datos de acceso a la aplicación y le responderemos con ellos.                 <br>
        
            </h5>      
                 </div>
                    <div class="subtitulo"> 
                        <h3>Exportación de los datos</h3></div>  
                        <div class="texto-titulo">
                      <h5>
                        Si en algún momento desea recuperar sus datos de perfil. Envíe un correo electrónico desde el usuario que tiene en la aplicación a soporte@studybuddies.es e indíquenos que desea extraer los datos de su perfil. Desde nuestro equipo de soporte se los enviaremos.                     <br>
                   
                   </h5>      
                        </div>
                        <div class="subtitulo"> 
                            <h3>¿Sugerencias o dudas?</h3>
                        </div>
                        <div class="texto-titulo">
                           <h5>Si tiene alguna duda con algunos de los campos de los que se hablan previamente, no dude en consultarnos.  
                                <br>
                                <br>
                                Estamos abiertos a cualquier sugerencia o problema que nos quiera reportar desde su persona. En Studybuddies siempre estamos dispuestos a mejorar.                                 <br>             
                                      </h5>
                            </div>
    </div>
</div>
