<body>
  <div class="div-all">
    <div class="info">
      <p class="info-text">
        Aquí puedes encontrar las salas de estudio de Studybuddies. Una sala de
        estudio es una sala virtual donde podrás entrar de forma gratuita con
        personas que quieran estudiar lo mismo que tú. También puedes crear una
        sala para que otras personas te puedan ayudar con las posibles dudas que
        tengas.
      </p>
    </div>


    <section>
      <table class="containertable">
        <thead>
          <tr>
            <th class="esconder">
              <h1 class="table">UNIVERSIDAD</h1>
            </th>
            <th>
              <h1 class="table">GRADO</h1>
            </th>
            <th>
              <h1 class="table">ASIGNATURA</h1>
            </th>
            <th class="esconder">
              <h1 class="table">DESCRIPCIÓN</h1>
            </th>
            <th>
              <h1 class="table">FECHA</h1>
            </th>
            <th class="esconder">
              <h1 class="table">HORA INICIO</h1>
            </th>
            <th class="esconder">
              <h1 class="table">HORA FIN</h1>
            </th>
            <th>
              <h1 class="table">DETALLES</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of rooms">
            <td class="esconder">{{ room["university"] }}</td>
            <td>{{ room["degree"] }}</td>
            <td>{{ room["subject"] }}</td>
            <td class="esconder">{{ room["description"] }}</td>
            <td>{{ room["date"] }}</td>
            <td class="esconder">{{ room["iTime"] }}</td>
            <td class="esconder">{{ room["fTime"] }}</td>
            <td>
              <a href="/student/classView/{{ room['guid'] }}">Ver detalles</a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="info" *ngIf="rooms.length === 0"><p class="info-text">No hay ninguna sala creada todavía. Sé el primero en crearla desde <a class="nav-link" routerLink="/student/createClass" routerLinkActive="active">aquí</a></p></div>
    </section>
  </div>
</body>
