<body>
	<div class="div-all">
		<button class="list-button" style="vertical-align:middle"
			onclick="document.location='/tutor/classList'"><span>Crea una sala de estudio </span></button>

		<section>

			<table class="containertable">
				<thead>
					<tr>
						<th>
							<h1 class="table">Universidad</h1>
						</th>
						<th>
							<h1 class="table">Grado</h1>
						</th>
						<th>
							<h1 class="table">Asignatura</h1>
						</th>
						<th class="esconder">
							<h1 class="table">Descripción</h1>
						</th>
						<th>
							<h1 class="table">Fecha</h1>
						</th>
						<th class="esconder">
							<h1 class="table">Hora inicio</h1>
						</th>
						<th class="esconder">
							<h1 class="table">Hora fin</h1>
						</th>
					</tr>
				</thead>
				<mat-spinner *ngIf="rooms.length === 0"></mat-spinner>
				<tbody>
					<tr *ngFor="let room of rooms" onclick="document.location='/student/classView'">
						<td>{{room['university']}}</td>
						<td>{{room['degree']}}</td>
						<td>{{room['subject']}}</td>
						<td class="esconder">{{room['description']}}</td>
						<td>{{room['starting_time']}}</td>
						<td class="esconder">{{room['ending_time']}}</td>
						<td class="esconder">{{room['ending_time']}}</td>
					</tr>
				</tbody>
			</table>

		</section>
	</div>
</body>

