<div class="container-fluid">
  <form class="formRooms">
    <h1 class="titulo">Creación de sala</h1><br>
    <div class="row">
      <div class="col-sm">
        <label for="fname">Descripción</label><br>
        <input type="text" id="description" name="description"><br><br>
        <label for="lname">Universidad</label><br>
        <input type="text" id="university" name="university"><br><br>
        <label for="lname">Grado</label><br>
        <input type="text" id="grade" name="grade"><br><br>
        <label for="lname">Asignatura</label><br>
        <input type="text" id="subjects" name="subjects"><br><br>
      </div>
      <div class="col-sm">
        <label for="lname">Fecha</label><br>
        <input type="date" id="date" name="date"><br><br>
        <label for="lname">Hora inicio</label><br>
        <input type="time" id="iTime" name="iTime"><br><br>
        <label for="lname">Hora fin</label><br>
        <input type="time" id="fTime" name="fTime"><br><br>
      </div>
      <div><input type="submit" value="CREAR"></div>
    </div>
  </form>
</div>